.content-section {
    box-sizing: border-box;
    width: 100%;
    max-width: 1920px;
    background-color: #fff;
    color: #163561;
 }

.header {
    color: #99BAED;
    overflow: hidden;
}

.header-menu {
    display: flex;
}

.logo {
    display: flex;
}

.logo-image {
    max-width: 90px;
    max-height: 90px;
    margin-left: 179px;
}

.logo-text {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
    line-height: 53.44px;
    padding-top: 52px;
    margin-left: -17px;
}

.rectangle { 
    display: flex;
    width: 93px;
    height: 108px;
    background-color: #A3C1EF;
    margin-left: 110px;
    border-radius:0 0 5px 5px;
    color:#fff;
    justify-content: center;
    margin-top: -10px;
    padding-top: 70px;
}

.home {
    font-weight: 500;
    font-size: 25px;
    line-height: 33.4px;
    text-decoration: none;
}

.header-links {
    display: flex;
    color:#163561;
    gap:48px;
    margin-left:34px;
    margin-top: 55px;
}

.links-pref {
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;   
}

.main-menu {
    display: flex;
    gap: 72px;
}

.profile-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    max-width: 45px;
    max-height: 45px;
    margin-left: 402px;
    margin-top: 55px;
}

.notification-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    max-width: 42px;
    max-height: 42px;
    margin-top: 55px;
}

.appointment-button {
    background-color: #99BAED;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 188px;
    height: 76px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-top: 38px;
    box-shadow: 0px 10px 20px 0px rgba(153, 186, 237, 0.5);
}

.main {
    overflow: hidden;
}

.main-phrase {
    max-width: 600px;
    max-height: 300px;
    font-weight: 700;
    font-size: 75px;
    line-height: 100.2px;
    color: #fbb400;
    margin-left: 187px;
    margin-top: 150px;
}

.chpater-two {
    color: #163561;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: -50px;
}

.image-container {
    display: flex;
}

.main-photo {
    max-width: 1110px;
    max-height: 821px;
    transform: translate(30px);
    margin-left: 20px;
}

.description {
    max-width: 526px;
    max-height: 114px;
    font-size: 25px;
    line-height: 37.65px;
    margin-left: 190px;
    color: #153461;
    margin-top: 30px;
}

.get-started {
    background-color: #99BAED;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 188px;
    height: 75px;
    margin-top: 98px;
    margin-bottom: 138px;
    margin-left: 188px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(153, 186, 237, 0.5);
}


.section-history {
    display: flex;
}

.text-section {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-right: 323px;
}

.Our-blue {
    display: flex;
    justify-items: end;
    max-width: 377px;
    max-height: 105px;
    font-weight: 700;
    font-size: 70px;
    line-height: 105.42px;
    color: #163561;
    width: 377;
    height: 105;
    margin-top: 302px;
    margin-bottom: 80px;
    margin-left: 152px;
}

.yellow {
    color: #fbb400;
}

.paragraph-history {
    max-width: 526px;
    max-height: 114px;
    margin-right: -189px;
    font-size: 25px;
    line-height: 37.65px;
    margin-bottom: 48px;
}

.learn-more {
    background-color: #99BAED;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 188px;
    height: 75px;
    margin-top:61px;
    margin-bottom: 138px;
    margin-right: 151px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(153, 186, 237, 0.5);
}

.chop-container {
    display: flex;
}

.chop-image {
    display: flex;
    margin-top: 190px;
    margin-left: 80px;
}

.second-photo {
    max-width: 968px;
    max-height: 968px;
}

.container-center {
    display: flex;
    justify-content: center;
    margin-top: 138px;
}

.service-we {
    max-width: 387px;
    max-height: 164px;
    font-weight: 700;
    font-size: 70px;
    line-height: 81.62px;
    text-align: center;
    margin-bottom: 83px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 49px;
    margin-bottom: 272px;
}

.cards-properties {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 441px;
    height: 533px;
    border-radius: 29px;
    background-color: #FAFBFF;
    box-shadow: 0px 5px 0px 0px #99BAED;

}

.main-card-properties {
    background-color: #99BAED;
    box-shadow: 23px 39px 94px 0px rgba(212, 229, 255, 1);
}

.highlighting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 126px;
    background-color: #E5ECFE;
    border-radius: 13px;
    margin-bottom: 59px;
    box-shadow: 0px 1px 0px 0px #008FDD;
}

.img-cards {
    display: flex;
    width: 66px;
    height: 58px;
}

.title-card {
    font-weight: 700;
    font-size: 45px;
    line-height: 52.47px;
    text-align: center;
    margin-bottom: 60px;
}

.main-title-card {
    color: #FFF;
}

.text-card {
    font-weight: 400;
    font-size: 25px;
    line-height: 37.65px;
    text-align: center;
    max-width: 359px;
    max-height: 114px;
}

.main-text-card {
    color: #fff;
    
}

.our-gallery {
    font-weight: 700;
    font-size: 70px;
    line-height: 81.62px;
    text-align: center;
    margin-bottom: 110px;
}

.gallery {
    display: grid;
    grid-template-columns: 435px 435px 435px;
    grid-template-rows: 1fr 1fr;
    gap: 37px;
    justify-items: center;
    justify-content: center;
}

.gallery-properties {
    position: relative;
    max-width: 435px;
    max-height: 435px;
}

.gallery-properties img {
    object-fit: cover;
    display: block;
  }
  
  .gallery-properties::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(82, 150, 255, 0.35); /* Полупрозрачный синий */
}

.view-all-center {
    display: flex;
    justify-content: center;
}

.view-all {
    display: flex;
    margin-top: 77px;
    background-color: #99BAED;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 188px;
    height: 75px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(153, 186, 237, 0.5);
}

.footer-logo {
    display: flex;
    justify-content: center;
    margin-top: 196px;
}

.footer-logo-img {
    max-width: 130px;
    max-height: 130px;
}

.footer-logo-text {
    font-weight: 600;
    font-size: 60px;
    line-height: 134%;
    padding-top: 70px;
    margin-left: -31px;
    color:#99BAED;
    text-decoration: none;
}

.for-footer-text {
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

.footer-text {
    font-weight: 400;
    font-size: 25px;
    line-height: 151%;
    text-align: center;
    max-width: 526px;
    max-height: 76px;
}

.social-media-group {
    display: flex;
    justify-content: center;
    gap: 25px;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: #D3E5FF;
    margin-top: 47px;
}

.main-circle {
    background-color: #99BAED;
}

.icon-facebook {
    width: 19px;
    height: 38px;
}

.icon-tiwtter {
    width: 32px;
    height: 26px;
}

.icon-google {
    width: 28px;
    height: 29px;
}

.the-line {
    display: flex;
    justify-content: center;
    margin-top: 47px;
    margin-bottom: 98px;
}

.line {
    max-width: 1362px;
}